<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login|User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form class="form-group ml-5" method="post" th:action="@{/login}" th:object="${user}">
		<table>
            <tr>
                <td>Username:</td>
                <td><input name="uname" id="username" class="form-control mr-sm-2" type="text" required  /></td>
            </tr>
			<tr>
                <td>Password:</td>
                <td><input name="pass"  id="password" type="password" class="form-control mr-sm-2" required /></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
             </tr>

            <tr>
                <td><input type="submit" id="login" class="btn btn-outline-success" value="Login"/></td>
            </tr>
          </table>
	</form>

</body>
</html>